// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
}

.container{
  padding-bottom: 85px;
}